# Dependencias
node_modules/

# Variables de entorno
.env

# Archivos subidos
# uploads/ (Decidimos presentar los logos para las interfaces)

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Build
dist/
build/